
@{
}

@model Assignment3DallinCollinsa.Models.EnterMoviesModel
<div>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>